.homeLink {
  text-decoration: none;
  box-shadow: none;
  color: white;
  text-align: left;
}

.userLink {
    text-decoration: none;
    box-shadow: none;
    color: white;
    text-align: right;
  }
  