.root {
  width: 100%;
}

.container {
  max-height: 440;
}

.appBar {
  position: relative;
  background-color: #2e7a0d !important;
}

.title {
  margin-left: 2;
  flex: 1;
}

.activity {
  display: block;
  width: 100%;
}
