.postContainer {
  padding: 20px 0px;
}

.userLink {
  text-decoration: none;
  box-shadow: none;
  color: white;
}

.avatar {
  margin-left: auto;
}

.title {
  color: black !important;
  font-weight: bold !important;
  text-align: left;
}

.text {
  text-align: left;
  margin-bottom: 30px !important;
}

.userName {
  text-align: right;
  margin-bottom: 0px !important;
  color: #008080;
}
